<!-- Вимоги до основної сторінки
:root {
    --primary-text-button-color: #ffffff;
    --paragraph-color: #434455;
    --second-logo-section-color: #2E2F42;
    --footer-text-color: #F4F4FD;
    --background-color: #ffffff;
    --dark-bg:#2E2F42;
    --light-bg:#f4f4fd;
    --first-logo-button-color:#4D5AE5;
    --color-hover-focus:#404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:var(--background-color);
}

<!-- Хедер
.logo{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--first-logo-button-color);
}

.link{
    text-decoration: none;
}

.logo-text{
    color:var(--second-logo-section-color);
}

.list{
    list-style: none;
}

.menu-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-logo-section-color);
}

.menu-nav .link:hover,
.menu-nav .link:focus {
    color:var(--color-hover-focus);
}

.contacts-nav{
    font-style: normal;
}

.contact-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--paragraph-color);
}

.contacts-item:hover,
.contacts-item:focus{
    color: ;
}


<!-- секція 1

.hero{
    background-color:var(--second-logo-section-color);
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button{
background-color:var(--first-logo-button-color);
font-family: Roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer
}

.button: hover,
.button: focus {
    background-color:#404bbf;
}


