< !-- Index-->

<!-- Вимоги до основної сторінки
:root {
    <!-- Text -->
    --logo-text:#4d5ae5;
    --main-text-color:#2E2F42;
    --paragraph-text-color:#434455;
    --title-color:#ffffff;
    --footer-text-color:#F4F4FD;
    --color-hover:#404bbf;
    --background-color:#2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:var(--title-color);
}

< !-- Header section -->
.logo-header{
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--logo-text);
}

.logo-text{
    color:var(--main-text-color);
}

.logo-header, .link{
text-decoration: none;
}

.menu .list{
    list-style: none;
}

.menu-item{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--main-text-color);
}

.menu-item, .link{
    text-decoration: none;
}

.menu-item:focus,
.menu-item:hover {   
    color:#404BBF;
}

.contacts-nav{
    font-style: normal;
}

.contact-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--paragraph-text-color);
}

.contact-item:hover,
.contact-item:focus{
    color:#404bbf ;   
}


< !-- Hero section-->

.hero-nav{
    background-color:var(--background-color);
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align:center;
    letter-spacing: 0.02em;
    color:#ffffff;
}

.button{
background-color:#4D5AE5;
font-family: Roboto,sans-serif;
font-weight: 500;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer
}

.button:hover,
.button:focus {
    background-color: #404BBF;

< !-- Feature section -->

.features-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--second-logo-section-color); 
}

.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--paragraph-color);
}

< !-- Doing section -->

.work-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--second-logo-section-color);
}


< !-- Team section -->

.team-nav{
    background-color: #F4F4FD;
}

.team-nav-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-card{
    background-color: #FFFFFF;
}



< !-- Footer section-->
.footer{
    background-color:var(--second-logo-section-color) ;
}

.logo-footer{
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#F4F4FD
}

.logo-footer, .link{
    text-decoration: none;
}

.logo-footer-text{
    color:#4D5AE5;
}

< !-- Portfolio-->

.button-list{
    list-style: none;
}

.button-nav{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#F4F4FD;
    background-color:#4D5AE5;
    cursor: pointer;
}

.button-nav:hover,
.button-nav:focus{
    color: #fff;
    background-color: #404BBF;
}

.gallery-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--second-logo-section-color);
}

.gallery-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--paragraph-color);
}